<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DataClasesQuickOrder.Properties.Settings.SistemaPedidosConnectionString3"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SistemaPedidos.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
    <add name="DataClasesQuickOrder.Properties.Settings.SistemaPedidosConnectionString"
      connectionString="Data Source=DEJAVULAOZ-PC\MSSSQLSERVER2012;Initial Catalog=SistemaPedidos;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DataClasesQuickOrder.Properties.Settings.QuickOrderDBConnectionString"
      connectionString="Data Source=ANDRESOLARTE-PC\SQLEXPRESS;Initial Catalog=QuickOrderDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DataClasesQuickOrder.Properties.Settings.SistemaPedidosConnectionString1"
      connectionString="Data Source=ANDRESOLARTE-PC\SQLEXPRESS;Initial Catalog=SistemaPedidos;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DataClasesQuickOrder.Properties.Settings.SistemaPedidosConnectionString2"
      connectionString="Data Source=(localdb)\v11.0;Initial Catalog=SistemaPedidos;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="DataClasesQuickOrder.Properties.Settings.SistemaPedidosConnectionString4"
      connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=&quot;C:\Users\AndresOlarte\SkyDrive\Repositorio\4 - Desarrollo\1 - Codigo Fuente\QuickOrder\QuickOrder\App_Data\SistemaPedidos.mdf&quot;;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>